body {
    font-family:monospace;
    background-color:lightcyan;
}


#textContainer {
    color: royalblue;
    text-align: center;
}


#imageContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center; 
}

#imageContainer img {
    width: auto;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    align-content:center;
}

.button-container {
    display: flex;
    justify-content: center;
    margin-top: 20px; 
}

#displayButton {
    font-family:monospace;
    background-color: royalblue;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

#displayButton:hover {
    background-color: navy;
}